---
---
// Font Imports 
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

// Initial SASS Imports 
@import "reset";
@import "variables";

// Page Declarations 
body {
    background: #002d47;
    display: grid; 
    justify-items: center;
    align-items: center; 
    grid-template-rows: 100px 25px 525px 1fr 100px;
    grid-template-columns: 1fr;
    font-family: 'Montserrat', sans-serif; 
    font-size: calc(1rem);
    font-weight: 200;
}

// Strict declarations for consistent formatting
p, h1, h2, 
h3, h4, h5, h6 {
    color: white;
}

h1 {
    color: #9fdcff;
    font-size: calc(1rem * 2.2); 
    font-weight: 400;
    margin-bottom: .5em; 
}

h2, h3, h4, h5, h6 {
    color: #9fdcff; 
    font-weight: 300;
    margin: 0.25em 0 0.5em 0;
}

h2 { 
    font-size: calc(1rem * 2.0);
}

h3 {
    font-size: calc(1rem * 1.8);
}

h4 {
    font-size: calc(1rem * 1.6);
}

h5 { 
    font-size: calc(1rem * 1.4);
}

h6 {
    font-size: calc(1rem * 1.2); 
}

p {
    img {
        padding: 1em 5em; 
    }
}

a {
    color: #218bc9;
}

a:hover,
a:focus,
a:active {
    color: #005688;
}

em {
    font-style: italic;
}

strong {
    font-weight: 400;
}

header {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    grid-row: 1 / 2; 
    grid-column: 1 / 2;
    width: 100vw; 
    height: 100%; 
    border-bottom: 4px solid #218bc9;
}   

.site-info { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    .header-title {
        font-size: calc(1rem * 1.2 * 1.2 * 1.2); 
        font-weight: 500;
    }
}

.site-avatar { 
    height: 75px; 
    width: 75px; 
}

.site-nav {
    display: flex; 
    flex-direction: row; 
    li { 
        display: inline-block; 
        padding: 0 .5em; 
        font-weight: 300;
    }
}

.masthead {
    background: linear-gradient(to bottom, transparent 0%, #002d47 85%), 
        url(./images/masthead/tech.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 2 / 4; 
    grid-column: 1 / 2; 
    height: 100%; 
    width: 100vw; 
}

main {
    background: #004875c4; 
    grid-row: 3 / 5; 
    grid-column: 1 / 2;
    width: 70vw; 
    height: 100%;
    padding: 25px;
    border: 4px solid #218bc9;
    border-radius: 8px;
    a {
        color: #9fdcff;
    }
    @include mobile {
        width: 90vw; 
    }
}

.main-post:hover,
.main-post:active,
.main-post:focus {
    background: #004875;
}

.main-post {
    border: 1px solid white; 
    border-radius: 4px; 
    margin-bottom: 1.5em; 
}

.post {
    padding: 1em; 
    p { 
        padding: 0.5em 0; 
    }

    ol, ul {
        margin: 1em 0 1em 2em; 
        color: #9fdcff;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: square;
    }

    li { 
        padding: .25em 0; 
    }

    blockquote {
        padding: 1em; 
        margin-left: 10px; 
        border-left: 2px solid #002d47;
    }

    .highlight { 
        justify-self: center;
        width: 60vw; 
    }

    .date {
        font-weight: 500;
        color: black; 
    }
}


footer {
    grid-row: 5 / 6; 
    grid-column: 1 / 2;
}


// Additional SASS Imports
@import "highlights";
@import "svg-icons";