<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/icons/fav.ico">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/icons/fav-192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/icons/fav-180.png">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
<body>
    <header>
            <section class="site-header">
                <div class="site-info">
                    <div class="site-avatar">
                        <a href="{{ site.baseurl }}/"><img src="{{ site.avatar }}" /></a>
                    </div>
                    <div class="header-text">
                        <a class="header-title" href="{{ site.baseurl }}/">{{ site.name }}</a>
                        <p>{{ site.description }}</p>
                    </div>
                </div>
                <nav class="site-nav">
                    <ul>
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/about/index.html">About</a></li>
                    </ul>
                </nav>
            </section>   
    </header>
    <section class="masthead"></section>
    <main class="container">
        {{ content }}
    </main>
    <footer>
        <section class="footer-links">
            {% include svg-icons.html %}
        </section>
        <section class="paypal-donation">
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations" />
                <input type="hidden" name="business" value="8JG7PHKTJZHWS" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </section>
    </footer>
    {% include analytics.html %}   
</body>
</html>